@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainland{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .glass{
        position: relative;
        top: 80px;
        margin: 0 50px;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 60px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
padding-bottom: 7rem;

    }

    @font-face {
        font-family: 'MontNormal';
        src: url('../../assets/fonts/Mont-Trial-Bold.otf');
    }
    @font-face {
        font-family: 'MontSemi';
        src: url('../../assets/fonts/Mont-Trial-SemiBold.otf');
    }
    @font-face {
        font-family: 'Mont';
        src: url('../../assets/fonts/Mont-ExtraLightDEMO.otf');
    }
    .LandingHeader{
        position: relative;
        top: 2.6rem;
        font-family: 'MontNormal';
        white-space: pre-line;
        font-size: 3.3rem;
        font-weight: 500;
        color: #8B73FF;
    }
    .headerSmol{
        color: #8B73FF;
        font-family: 'MontSemi';
        top: 2.6rem;
        font-size: 1rem;
        position: relative;
        margin: auto;
        text-align: center;
    }
    .title{
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1.7rem;
    }
        .bugimg{
            position: relative;
            top: 2.6rem;
            left: 2rem;
            width: 10rem;
            height: 10rem;
        }

 
    .sections{
        display: flex;
        justify-content: center;
    }
        .org{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
          
            justify-content: center;}
            .icon{
                width: 7rem;
                height: 7rem;
                margin: 25px;
            }
            .create-btn{
                border: none;
                outline: none;
                width: 100%;
               
                padding: 1.2rem;
                background-color: #8a73ff;
                color: #fff;
                font-family: 'MontSemi';
                font-size: 1.3rem;
                cursor: pointer;
                border-radius: 12px;
                transition: 0.3s;
            }
            .create-btn2{
                border: none;
                outline: none;
                width: 110%;
               
                padding: 1.2rem;
                background-color: #8a73ff;
                color: #fff;
                font-family: 'MontSemi';
                font-size: 1.3rem;
                cursor: pointer;
                border-radius: 12px;
                transition: 0.3s;
            }
            .create-btn:hover,.create-btn2:hover{
                background-color: #E1A3FF;
                cursor: pointer;
            }
            p{
                text-align: center;
                margin: 20px;
                font-family: 'MontBook';
            }
            .login-btn{
                background-color: white;
                color: #e1a3ff;
                border: none;
                font-size: 1.2rem;
                text-decoration: underline;
                cursor: pointer;
                font-family: 'MontSemi';
                transition: 0.3s;
            }
            .login-btn:hover{
                color: #8a73ff;
            }
        

        .user{
            flex: 1;
            display: flex;
            flex-direction: column;
           
            align-items: center;
            justify-content: center;}
       
            .orgImg, .userImg{
                width: 18rem;
                height: 18rem;
            }
           
            p{
                text-align: center;
                margin: 20px;
            }
         
        